{% extends 'base.html.twig' %}

{% block title %}Welcome - VQualify
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-8">
            <img style="margin-top: 4rem;" src="{{ asset('build/images/qualify.svg') }}" alt="VQualify Image">
        </div>
        <div class="column is-4">
            <section class="hero">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Generate Leads
                        </h1>
                        <h2 class="subtitle">
                            Using Power of Social Media.
                        </h2>
                    </div>
                </div>
            </section>
            <section class="hero">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Qualify Leads
                        </h1>
                        <h2 class="subtitle">
                            Technology Assisted Human Verified Leads.
                        </h2>
                    </div>
                </div>
            </section>
            <section class="hero">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Nurture Leads
                        </h1>
                        <h2 class="subtitle">
                            Never Lose A Prospect.
                        </h2>
                    </div>
                </div>
            </section>
            <section class="hero">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Convert Leads
                        </h1>
                        <h2 class="subtitle">
                            Win your customers, in style!
                        </h2>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
