{% extends 'base.html.twig' %}

{% block title %}Welcome - Qualify
{% endblock %}

{% block body %}
	<section class="hero">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Qualify
				</h1>
				<h2 class="subtitle">
					Qualified Leads Convert!
				</h2>
			</div>
		</div>
	</section>
{% endblock %}
