<div class="columns">
    <div class="column is-2">
        {{ form_row(form.code) }}
    </div>

    <div class="column is-6">
        {{ form_row(form.name) }}
    </div>

    <div class="column is-2">
        {{ form_row(form.isAvailable) }}
    </div>

    <div class="column is-2">
        {{ form_row(form.isDiscontinued) }}
    </div>
</div>