@charset "utf-8";
$label-weight: 400;
@import "~bulma/bulma";

.htmx-request {
    @extend .is-loading;
}

cite {
    display: block;
    font-size: 0.85rem;
    line-height: 1.8rem;
    margin-top: 1rem;
    text-align: right;
}

.flat-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}