<div class="columns">
    <div class="column">
        <div class="tabs is-medium is-right">
            <ul>
                <li class="is-active">
                    <a>Personal</a>
                </li>
                <li>
                    <a hx-get="{{ path('opportunity.product', {'id': opportunity.id}) }}" hx-target="#opportunity-workspace">Opportunity</a>
                </li>
                <li>
                    <a hx-get="{{ path('opportunity.lead', {'id': opportunity.id}) }}" hx-target="#opportunity-workspace">Lead History</a>
                </li>
                <li>
                    <a>Remarks</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column is-3">
        <div id="opportunity-contact-info">
            {% include "opportunity/_contact_block.html.twig" %}
        </div>
    </div>
    <div class="column is-3">
        <div id="opportunity-address-info">
            {% include "opportunity/_address_block.html.twig" %}
        </div>
    </div>
</div>
