{% set target = "#opportunity-workspace" %}
<div class="columns">
    <div class="column">
        <div class="tabs is-medium is-right">
            <ul>
                <li>
                    <a hx-get="{{ path('opportunity.personal', {'id': opportunity.id}) }}" hx-target={{target}}>Personal</a>
                </li>
                <li class="is-active">
                    <a>Product</a>
                </li>
                <li>
                    <a hx-get="{{ path('opportunity.lead', {'id': opportunity.id}) }}" hx-target={{target}}>Lead History</a>
                </li>
                <li>
                    <a>Remarks</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column is-9">
        <p class="subtitle">Products &amp; Appointments</p>
        {% for item in items %}
            {% include "opportunity/_opportunity_item.html.twig" with {'item': item} only %}
        {% else %}
            <div class="notification is-warning">
                No product added. Please add.
            </div>
        {% endfor %}
    </div>
    <div class="column is-3" id="opportunity-item-form">
        <p class="subtitle">New Product</p>
        {% include "opportunity/_opportunity_form.html.twig" with {'id': opportunity.id, edit: false } %}
    </div>
</div>
