<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% block title %}Qualify
		{% endblock %}
	</title>
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
		<script src="https://unpkg.com/hyperscript.org@0.0.2"></script>
		<script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>
	{% endblock %}
</head>

<body>
	<section class="section pt-2" data-hx-boost="true">
		<div class="container">
			{% include "shared/_header.html.twig" %}
			{% include "shared/_messages.html.twig" %}
			<div class="my-3">
				{% block breadcrumb %}{% endblock %}
			</div>
			{% block body %}{% endblock %}
			{% include "shared/_footer.html.twig" %}
		</div>
	</section>
	{% block lazyjs %}
	{% endblock %}
</body>

</html>