{% extends 'base.html.twig' %}

{% block title %}Leads{% endblock %}

{% block breadcrumb %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{{path('home')}}">Home</a></li>
            <li><a class="is-active"href="{{ path('lead.list') }}">Leads</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-content">
            <p class="card-header">
                <div class="is-flex is-justify-content-space-between is-align-items-center">
                    <p class="title is-5 my-0">Leads</p>
                    <div class="actions">
                        <a class="button is-warning is-small is-rounded" href="{{ path('lead.list') }}">Import</a>
                        <a class="button is-link is-small is-rounded" href="{{ path('lead.new') }}">Add</a>
                    </div>
                </div>
            </p>
        </div>
        <div class="card-content">
            {% include "lead/_leads.html.twig" with { 'leads': leads } %}
            <div class="pages">
                {% include "shared/_pagination.html.twig" with { 'route': 'lead.list' } %}
            </div>
        </div>
    </div>
{% endblock %}
