<nav class="pagination is-small is-rounded" role="navigation" aria-label="pagination">
    {% if page == 1 %}
        <a class="pagination-previous" disabled>Previous</a>
    {% else %}
        <a class="pagination-previous" href="{{ path(route, {'page': page - 1, 'limit': limit, 'sort': app.request.get('sort', 'id'), 'dir': app.request.get('dir', 'asc') }) }}">Previous</a>
    {% endif %}

    {% if page < maxPages %}
        <a class="pagination-next" href="{{ path(route, {'page': page + 1, 'limit': limit, 'sort': app.request.get('sort', 'id'), 'dir': app.request.get('dir', 'asc') }) }}">Next</a>
    {% else %}
        <a class="pagination-next" disabled>Next</a>
    {% endif %}
    <ul class="pagination-list">
    </ul>
</nav>
