{% set trigger = first ? "load" : "none" %}
<div class="tabs">
    <ul>
        <li>
            <a data-hx-get="{{ path('report.lead.products') }}" data-hx-target="#chart-workspace">Products</a>
        </li>
        <li>
            <a data-hx-get="{{ path('report.lead.sources') }}" data-hx-target="#chart-workspace">Sources</a>
        </li>
        <li>
            <a data-hx-get="{{ path('report.lead.time') }}" data-hx-target="#chart-workspace">Time</a>
        </li>
        <li class="is-active">
            <a>Stage</a>
        </li>
    </ul>
</div>
<div class="block">
    <div class="title is-5">Lead vs Stages</div>
    <div id="stage-chart" data-values="{{ stages }}"></div>
</div>

{% block lazyjs %}
    <script>
        var values = document.getElementById('stage-chart').dataset.values;
        var chart = new Chartkick.ColumnChart('stage-chart', [], {xtitle: 'Stage', ytitle: 'Count'});
        Chartkick.charts['stage-chart'].updateData(JSON.parse(values));
        Chartkick.charts['stage-chart'].redraw();
    </script>
{% endblock %}
